* {
    // cursor: none;
    user-select: none;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // cursor: none;
    user-select: none;

    background-color: transparent;
    perspective: 1800px;

    font-family: SofiaPro, "Roboto", sans-serif !important;
    overflow: overlay;
    overflow-x: hidden

    // button {
    //     cursor: none !important;
    // }
}

/* width */
::-webkit-scrollbar {
    transition: 0.2s all;
    position: absolute;
    width: 6px;
    z-index: 0;
}

/* Track */
::-webkit-scrollbar-track {
    transition: 0.2s all;
    background: rgba(0, 0, 0, 0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
    transition: 0.2s all;
    background: #dddddd;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f8f9fa;
}

.drawer {
    &.light {
        color: #222;
        .mantine-Drawer-drawer {
            background-color: #f8f9fa;
        }

        .mantine-Drawer-closeButton {
            color: #222;
            
            &:hover {
                background-color: rgba(34, 34, 34, 0.089);
                // color: #f8f9fa;
            }
        }

        .navbar {
            .navbar-item {
                color: #222;
                background-color: rgba(0, 0, 0, 0.05);

                &:active {
                    background-color: rgba(0, 0, 0, 0.1);
                }

                &.active {
                    background-color: #222;
                    color: #f8f9fa;

                    &:active {
                        background-color: #222;
                    }
                }
            }
        }
    }

    &.dark {
        color: #f8f9fa;
        .mantine-Drawer-drawer {
            background-color: #222;
        }

        .mantine-Drawer-closeButton {
            color: #f8f9fa;
            
            &:hover {
                color: #222;
            }
        }

        .navbar {
            .navbar-item {
                color: #f8f9fa;
                background-color: rgba(255, 255, 255, 0.05);

                &:active {
                    background-color: rgba(255, 255, 255, 0.1);
                }

                &.active {
                    background-color: #f8f9fa;
                    color: #222;

                    &:active {
                        background-color: #f8f9fa;
                    }
                }
            }
        }
    }
    
    .drawer-settings {
        position: relative;
        display: flex;
        background-color: transparent;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }
    
    .navbar {
        position: relative;

        display: flex;
        flex-direction: column;
        gap: 10px;

        .navbar-item {
            text-decoration: none;
            border: none;
            padding: 5px 20px;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 400;

            &.active {
                font-weight: 600;
            }
        }
    }
}

.App {
    position: relative;
    width: 100%;
    perspective: 1800px;

    .burger {
        background-color: transparent;
        position: relative;
        display: none;

        // * {
        //     color: green;
        // }
    }

    @media screen and (max-width: 1400px) {
        // color: green;
        
        // .menu {
        //     display: none;
        // }
    }

    @media screen and (max-width: 1200px) {
        color: transparent;

        .menu {
            display: none;
        }

        .burger {
            display: block;
        }
        
        .header {
            
            // padding: 30px 0;
            
            .header-right {
                display: none !important;
            }
            
            .menu-wraper {
                
                .user-menu {
                    margin-right: -20px;
                }
            }
            
            
            // .menu-wraper {
            //     justify-content: center;
            //     .user-menu {
            //         position: relative;
            //         right: 0;
            //     }
            // }
        }
    }

    .header {
        transition: 0.2s all;
        position: sticky;
        top: 0;
        height: 92px;
        z-index: 5;
        display: flex;
        align-items: center;
        // cursor: none;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

        &.light {
            background-color: #f8f9fa;
        }

        &.dark {
            background-color: #222;
        }

        * {
            // cursor: none;
            user-select: none;
        }
        
        .header-left, .header-right {
            width: 10%;
            background-color: transparent;
            display: flex;
            align-items: center;
            gap: 20px;
        }
        
        .header-left {
            justify-content: flex-start;
            padding-left: 30px;
        }
        
        .header-right {
            justify-content: flex-end;
            padding-right: 30px;
        }
        
        .menu-wraper {
            position: relative;
            background-color: transparent;
            height: 37px;
            left: 0;
            right: 0;
            flex: 1;
            display: flex;
            justify-content: flex-start;
            margin: 0 10px;
        }
        
        .user-menu {
            transition: 0.2s all;
            position: absolute;
            right: 40px;
            
            .user-menu-item {
                background-color: transparent;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 5px;
            }
        }
        
        .user-controller {
            position: relative;
            padding: 0 15px;
            
            &:hover {
                background-color: #2b2d35;
            }
            
            &.light {
                background-color: #FFFFFF;
                color: #222;
            }
            
            .user-controller-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
                margin: 0;
                
                .user-currency {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    
                    :nth-child(1) {
                        color: #ffd43b;
                    }
                }
            }
            
            
        }

        .menu {
            position: relative;
            pointer-events: all;
            background-color: transparent;
            max-width: 600px;
            min-width: 500px;
            // margin-right: 20px;
            * {
                border-color: transparent;
            }
            
            .mantine-SegmentedControl-control {
                min-width: 120px;
                max-width: 130px;
            }
            
            &.dark {
                * {
                    color: #f8f9fa;
                }

                .mantine-SegmentedControl-controlActive {
                    * {
                        color: #222;
                    }
                }
            }

            &.light {
                * {
                    color: #222;
                }

                .mantine-SegmentedControl-controlActive {
                    * {
                        color: #f8f9fa !important;
                    }
                }
            }
            
            .mantine-SegmentedControl-control:nth-child(2) {
                display: none !important;
                // pointer-events: none;
                // cursor: default;
            }
            
            &.disabled {
                .mantine-SegmentedControl-active {
                    // display: none;
                    opacity: 0;
                    pointer-events: none;
                }
            }
        }
    }

    .content {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
    }

    .market-highlights {
        transition: 0.2s all;
        position: relative;
        width: 100%;
        padding-bottom: 100px;
        background-color: #222222;

        &.light {
            background-color: #f8f9fa;
            
            .market-highlights-container {
                .mantine-Text-root {
                    color: #222;
                }
            }
        }

        &.dark {
            background-color: #222222;
            
            .market-highlights-container {
                .mantine-Text-root {
                    color: #f8f9fa;
                }
            }
        }

        .market-highlights-container {
            position: relative;
            display: flex;
            flex-direction: column;
            background-color: transparent;
            gap: 20px;
            
            .market-highlights-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            
            .title {
                font-size: 32px;
                font-weight: 900;
                background-color: transparent;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}
